/* body {
  background-color: #3FEEE6;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:#FC4445;
    width:100%;
    height: 50px;
    box-shadow: 0px 1px 50px #5E5E5E;
    position:fixed;
    top: 0px;
}

header h1{
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 10px;
}

section {
  position: fixed;
  top: 50px;
  width: 100%;
}

section button {
  padding: 10px;
  margin: 5px 300px;
}

nav li{
  display: inline-block;
  display: absolute;
  padding-left: 170px;
  font-size: 18px;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

.box {
  background-color: #55BCC9;
}

footer {
  background-color: #FC4445;
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
} */

